/* make scrolling smooth */

html {
  scroll-behavior: smooth;
}


/* 
 get rid of padding & sizing on body so
 header is at top
*/
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* add some padding back to rest of page */
main {
  padding: 1em;
}

/* navbar */

.navbar {
  background-color: #333;
  color: whitesmoke;
  display:flex;
  flex-direction: column;
  font-size:1.5rem;
  margin-bottom: 1rem;
  padding-right: 1rem;
}


/* logo */

.logo {
  display: flex;
  flex-direction: center;
}

.logo img{
  height: 7vw;
  width: 7vw;
  max-width: 100%;
}

.logo h1 {
  font-size: 1em;
}

/* navigation list */

.navbar-link li {
  list-style: none;
  display: block;
  padding: 0.5em 0;
  text-align: center;
}



/*  
 style all a tags in header 
 and then on hover
*/


.navbar-link a {
  color:whitesmoke;
  background-color: #333;
  font-size: 1.5rem;
  padding: 1 rem 1.25rem;
  letter-spacing: 2px;
  text-decoration: none;
  display: inline-block;
}

.navbar-link a:hover, .navbar-link a:focus {
  color:#333;
  background-color: whitesmoke;
  border-radius: 5px;
  outline: none;
}


/* 
media query for non-mobile nav bar
min-width set to width of nav elements 
such that no text wraps 
*/

@media screen and (min-width:50rem) {

  .navbar-link{
    align-items: center;
  }
  .navbar {
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar ul {
    display: flex;
    justify-content: space-between;
  }
}