body {
    font-family:Dosis;
    background-color: #F0950C;
    color: #1E55B3
}

h1,h2,h3,h4,h5,h6 {
    font-family:"spicy rice";
    font-size:30pt;
    text-align:center;
}

h2 {
  margin: .1em;
}

header {
  text-align: center;
}

#hero, footer {
  color:#0084F0;
  background-color:#47361E ;
  text-align: center;
  padding: 10px;
}

/* Hero Section */

#hero img{
  width:320px
}

/* Bio section */
#bio {
  text-align:center;
}

/* Hobbies Section */

section#hobbies {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hobbies ul li:nth-last-child(odd) {
  color:rgb(113, 0, 141)
  
}

/* Gallery */

#gallery {
  border: 2px solid blueviolet;
  margin-bottom: 2rem;
}

#gallery img{
  width:100%;
  max-width:600px;
}

#gallery figure {
  text-align:center;
}

/*Literature*/

#lit {
  border: 2px solid blueviolet;
  margin-bottom:2rem;
}

#lit div{
  padding:1rem;
  max-width: 40rem;
  margin: 0 auto;
}

#lit div p {
    padding:0.3rem;
    clear: both;
}

section#video {
  text-align: center;
}

#video {
  width:100%;
  margin-bottom: 1em;
}

#formElements {
  display:grid;
}


/* Drop caps */


/* Tablet size */
@media screen and (min-width: 60em) {
  figure {
    display:grid;
    grid-template-columns: 2fr 1fr;
  }

  figcaption {
    display: flex;
    justify-content:center;
    align-items: center;
    font-size:1.5rem;
    margin-left:2rem;
  }

figure img {
  width:100%;
}

#lit div{
  max-width:100%;
  columns:40rem;
}



}

/* large screen size */

@media screen and (min-width: 100em){

  #gallery{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  hr {
    display:none;
  }

  #gallery h2{
    grid-column: 1/-1;
  }

  figure {
    display:block;
  }
}


