body {
    font-family: "kay pho du"; 
    background-color: #E2DBD7;
    color: #955863; 
}

h1, h2, h3, h4, h5, h6, h7 {
    font-family: bungee;
    text-align: center;
}
h1 {
    font-size: 30pt
}

h2 {
    margin: 0.1rem;
    margin-top: 2rem;
}


header {
    text-align: center;
}

#hero, footer {
    color: white;
    border: 2px solid #6C423F;
    background-color: #EAA1AE;
    text-align: center;
    padding: 10px;
}

/* Hero Section */


#hero img {
    width: 300px;
}

/* Bio Section */ 

#bio {

    font-size: 20px;
    padding-left: 3rem;
    padding-right: 3rem;
}

#bio div img {
    display: block;
    margin: auto;
    max-width: 100%;
}


/* Hobbies */

section#hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hobbies ul li:nth-child(3n+1) {
    color: blueviolet;
}

#hobbies p {
    font-size: 20px;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
}

/* Gallery */

#gallery {
    border: 2px dashed #6C423F;
    margin-bottom: 2rem;
}

#gallery img {
    display: block;
    margin: auto;
    max-width: 40%;
}

#gallery img:hover {
    border: 4px solid #6C423F;
}

#gallery figure {
    float: center;
}

#gallery figcaption {
    display: block;
    margin: auto;
}

#gallery figcaption:hover {
    text-decoration: underline;
}

/* Literature */
#lit {
    border: 2px solid #6C423F; 
    margin-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

#lit div {
    padding: 2rem;
    max-width: 40rem;
    margin: 0 auto;
}

#lit div p {
    padding: 0.3rem 0;
    clear:both;
}

#lit div img {
    display: block;
    margin: auto;
    max-width: 40%;
    padding-bottom: 3rem;
}

#lit div img:hover {
    opacity: .5;
}


/* Dropcaps */

#lit div p:first-child:first-letter {
    font-family: "kay pho du";
    color: #955863;
    float: left;
    font-size: 3rem;
    padding:.25rem;
    line-height: .65; 
    margin-right: .5rem;
    font-weight: 1000;
    text-decoration: underline;
}

/* tablet size */
@media screen and (min-width: 60em) {


   figure {
    display: grid;
    grid-template-columns: 2fr 1fr;
   }

   figcaption {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-left: 1rem;
   }    


   figure img {
    width: 100%;
}


#lit div {
    max-width:100%;
    font-size: 20px;
}


#video {
    border: 2pt dashed #6C423F;
    margin-bottom: 2rem;
}

#myVideo {
    width: 50%;
    display: block;
    margin: auto;
}

#video figcaption {
    margin: 1rem;
    text-decoration: underline;
    font-size: 20px;
}

}



/* large screen size */
@media screen and (min-width: 100em) {
    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
    }
    

    hr {
        display: none;
    }

    #gallery h2 {
        grid-column: 1/-1;
    }

    figure {
        display: block;
    }

    #lit div {
        max-width:100%;
        columns: 40rem;
    }

    #video {
        border: 2pt dashed #6C423F;
        margin-bottom: 2rem;
    }

    #myVideo {
        width: 50%;
        display: block;
        margin: auto;
    }

    #video figcaption {
        margin: 1rem;
        text-decoration: underline;
        font-size: 20px;
    }
    
}

/* small screens */ 

@media screen and (max-width: 768px) {
   body {
    width: 100%;
    align-content: center;
   }

    #hero {
        margin-top: 100px;
    }

    #gallery figcaption {
        text-align: center;
        margin-top: 25px;
        
    }

    #myVideo {
        width: 80%;
        display: block;
        margin: auto;
    }

    #video figcaption {
        margin: 1rem;
        text-align: center;
        text-decoration: underline;
        font-size: 20px;
    }

    #video {
        border: 2pt dashed #6C423F;
        margin-bottom: 2rem;
    }

}

/* Contact Form */

#formElements {
    display: grid;
    row-gap: .5em;
}

#contact {
    padding: 1rem;
    max-width: 600px;
    margin: 2rem auto;
}

fieldset {
    border: solid 2px;
    margin-top: 1em;
    margin-bottom: 1em;
}

legend {
    background-color: #EAA1AE;
    color: white;
    padding: .5em;
    border: 1px solid #955863;
}

#contact input, #contact textarea, #contact select, #contact button {
    padding: .5em;
    font-size: 1rem;
}

#contact ul {
    list-style: none;
    padding: 0px;
}

#contact li {
    margin: 1rem;
}

#contact button {
    background-color: #EAA1AE;
    color: white;
    border: 1px solid #955863;
    max-width: 400px;
    width: 50%;
    justify-self: center;
}

  
